.menuWrapper {
  @apply md:hidden fixed left-0 top-0 w-full h-screen bg-black/60;
}

.menuActive {
  @apply fixed left-0 top-0 p-10 
      flex flex-col justify-between 
      w-[75%] sm:w-[65%] md:w-[45%] h-screen 
      bg-[#ecf0f3] ease-in duration-500 overflow-hidden;
}

.menuDeactive {
  @apply fixed left-[-100%] top-0 p-10 flex flex-col justify-between  h-screen bg-[#ecf0f3] ease-in duration-500;
}

.backIcon {
  @apply cursor-pointer text-xl text-gray-600 w-8 h-8
      flex justify-center items-center
      transition-all duration-100 relative
      hover:text-[#ecf0f3] hover:text-3xl delay-200;
}

.backIcon:after {
  @apply absolute bg-[#212121] transition-all ease-in duration-150 
  rounded-tl-full rounded-bl-full;
  content: '';
  width: 270%;
  height: 140%;
  top: -25%;
  right: -400%;
  box-shadow: 4px 4px 4px #212121;
}

.backIcon:hover:after {
  transform: translateX(-100%);
  z-index: -1;
}

.menuLink {
  @apply p-4 uppercase text-gray-600 rounded-sm
      transition-all duration-200
      hover:bg-[#212121] hover:text-[#ecf0f3] hover:font-semibold;
}

.connectWrapper {
  @apply h-36 p-4 bg-gray-300 text-[#212121] rounded-sm;

  p {
    @apply text-xl border-b border-[#212121] py-2;
  }

  .connect {
    @apply mt-6 flex justify-center items-center gap-4 
      sm:gap-8 transition-all duration-200;

    a {
      @apply p-2 text-xl
        bg-[#ecf0f3] cursor-pointer
        rounded-full shadow-md shadow-gray-400
        hover:bg-[#212121] hover:text-[#ecf0f3] hover:scale-[1.2] transition-all duration-200;
    }
  }
}
